/*   Font Roboto   

font-family: 'Roboto', sans-serif;

*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");

/*  Color Palettes  */

:root {
  --tyrian-purple: #45062e;
  --byzantium: #7f055f;
  --kobi: #e5a4cb;
  --champagne-pink: #ebd2be;
}

/*---------  Global Class  ---------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  width: 100vw;
  grid-template: min(15vw, 230px) repeat(3, 1fr) / 20% repeat(3, 1fr);
  grid-template-areas:
    "nav header header header"
    "nav main main main"
    "nav main main main"
    "nav main main main";
  position: relative;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;
}

.grid {
  display: grid;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.btn {
  outline: none;
  border: none;
  width: 7.4em;
  height: 3.4em;
  border-radius: 50rem;
}

/*----x----  Global Class  ----x----*/

/*---------  Navigation Bar  ---------*/

nav {
  background-color: var(--byzantium);
  grid-area: nav;
  z-index: 0;
  padding: 1em;
  font-weight: bold;
  color: white;
  position: fixed;
  height: 100vh;
  width: 100%;
  font-size: clamp(0.6em, 1vw, 1em);
  overflow: hidden;
}

nav > * {
  overflow: hidden;
}

.logo-container {
  align-items: center;
  margin-bottom: 2em;
}

.logo-container > img {
  width: 4em;
  margin-right: 0.6em;
}

.logo-container > span {
  font-size: 2em;
}

nav ul {
  padding: 1.3em;
}

nav ul li {
  margin-bottom: 1.4em;
}

nav ul li a {
  display: flex;
  align-items: center;
  gap: 1.6em;
}

nav ul li a svg {
  width: 1.4em;
}

nav ul li span {
  font-size: 1.4em;
}

/*----x----  Navigation Bar  ----x----*/

/*---------  Header  ---------*/

header {
  background-color: white;
  grid-area: header;
  z-index: 1;
  padding: 2em 6em 0em 3em;
  box-shadow: 0px 8px 18px -8px rgba(0, 0, 0, 0.3);
  grid-template: 1fr 2fr / minmax(650px, 9fr) minmax(150px, 4fr);
  align-items: center;

  font-size: clamp(0.6em, 1vw, 1em);
}

header > div {
  margin-bottom: 1em;
}

header .search-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  height: fit-content;
  width: max(80%, 20rem);
}

header .search-container svg {
  width: 1.3em;
}

header .search-container input {
  height: 100%;
  width: 100%;
  border-radius: 50px;
  outline: none;
  border: none;
  background-color: var(--kobi);
  padding: 1em;
}

header .profile-photo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  height: fit-content;
  align-self: center;
}

header .profile-photo-container img {
  height: 6em;
  width: 6em;
  border-radius: 50%;
}

header .profile-photo-container div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

header .profile-photo-container div span {
  font-weight: 500;
}

header .profile-photo-container div p {
  font-size: 1.8em;
  font-weight: bold;
}

.github-logo-container {
  display: flex;
  gap: 2em;
  justify-self: flex-end;
  font-weight: bold;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.github-logo-container svg {
  width: 1.7em;
}

.github-logo-container .github-logo {
  color: black;
  width: 3em;
}

.github-logo-container span {
  font-size: 1.3em;
  display: flex;
  align-items: center;
}

.github-logo-container svg:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.75);
}

.github-logo:hover {
  color: rgba(0, 0, 0, 0.75);
}

.github-logo-container span:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.75);
}

.action-btn-container {
  display: flex;
  justify-self: flex-end;
  gap: 1.3em;
}

.action-btn-container > .btn {
  font-size: 1.1em;
  font-weight: bold;
  background-color: var(--byzantium);
  color: white;
}

.action-btn-container > .btn:hover {
  background-color: var(--tyrian-purple);
}

/*----x----  Header  ----x----*/

/*---------  Main Section  ---------*/

main {
  background-color: rgb(232, 232, 232);
  grid-area: main;
  z-index: 0;
  grid-template: 1fr 1fr 1fr / 2fr 2fr 1fr;
  padding: 3em 2em;
  min-height: 100%;
  overflow: scroll;
}

main > * {
  overflow: visible;
}

main > article {
  grid-area: 1 / 1 / 4 / 3;
  height: 100%;
}

main > aside {
  grid-area: 1 / 3 / 4 / 4;
}

main > article > span,
main > aside > * > span {
  display: block;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

main > aside {
  display: grid;
}

main > aside > div > div {
  display: flex;
  background-color: white;
  min-height: 16em;
  width: 100%;
  border-radius: 12px;
  gap: 1em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-bottom: 1em;
  padding: 2rem 2rem;
}

.todo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.todo-container div:last-of-type {
  border-bottom: none;
}

.todo-container > div, .socmed-container > div {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 1em 0.5em;
}

.socmed-container{
  padding: 1.5em 2em 1em 2em !important;
}

.todo-container div h3 {
  margin-bottom: 0.2em;
}

.todo-container div span {
  color:rgba(0, 0, 0, 0.6)
}
.socmed-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 10em;
}

.socmed-container div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.socmed-container div:last-of-type {
  border-bottom: none;
}

.socmed-container > div:nth-child(2) > svg{
  aspect-ratio: 1;
  height: 30px;
  margin-left: -10px;
}

.socmed-container > div:nth-child(2) > span {
  margin-left: -8px;
}

.socmed-container > div:nth-child(3) > svg{
  aspect-ratio: 1;
  height: 30px;
  margin-left: 1px;
  margin-right: 5px;
}

main > article > div.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  padding: 1em 4.5em 1em 0;
}

main > article > div.project-container > div {
  background-color: white;
  height: 250px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
}

.cards {
  position: relative;
}

.project-container > .cards > .color-label {
  height: 100%;
  width: 3.3%;
  border-radius: 12px 0 0 12px;
  background-color: var(--tyrian-purple);
  position: absolute;
}

.color-label:hover {
  cursor: pointer;
}

.cards > .card-text {
  width: 96%;
  padding: 2em 2em 2em 2.5em;
  display: flex;
  flex-direction: column;
}

.card-text span:first-of-type {
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 6px;
}

.card-icons {
  margin-top: auto;
  margin-left: auto;
  display: flex;
  gap: 1.2em;
}

.card-icons > * {
  cursor: pointer;
}

/*----x----  Main Section  ----x----*/
