/*   Font Roboto   

font-family: 'Roboto', sans-serif;

*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");

/*  Color Palettes  */

:root {
  --tyrian-purple: #45062e;
  --byzantium: #7f055f;
  --kobi: #e5a4cb;
  --champagne-pink: #ebd2be;
}

/*---------  Global Class  ---------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100vw;
  grid-template: min(240px) repeat(3, 1fr) / minmax(270px, 20%) repeat(3, 1fr);
  grid-template-areas:
    "nav header header header"
    "nav main main main"
    "nav main main main"
    "nav main main main";
}

a {
  color: white;
  text-decoration: none;
}

.grid {
  display: grid;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

/*----x----  Global Class  ----x----*/

/*---------  Navigation Bar  ---------*/

nav {
  background-color: var(--byzantium);
  grid-area: nav;
  z-index: 1;
  padding: 1em;
  font-weight: bold;
  color: white;
}

.logo-container {
  align-items: center;
  margin-bottom: 2em;
}

.logo-container > img {
  width: 4em;
  margin-right: 0.6em;
}

.logo-container > span {
  font-size: 2em;
}

nav ul {
  padding: 1.3em;
}

nav ul li {
  margin-bottom: 1.4em;
}

nav ul li a {
  display: flex;
  align-items: center;
  gap: 1.6em;
}

nav ul li a svg {
  width: 1.4em;
}

nav ul li span {
  font-size: 1.4em;
}

/*----x----  Navigation Bar  ----x----*/

/*---------  Header  ---------*/

header {
  background-color: white;
  grid-area: header;
  z-index: 1;
  padding: 2em 3em 0em 3em;
  box-shadow: 0px 8px 18px -8px rgba(0, 0, 0, 0.3);
  grid-template: 1fr 2fr / minmax(700px, 9fr) 4fr;
}

header .search-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  height: fit-content;
  width: max(80%, 20rem);
}

header .search-container svg {
  width: 1.3em;
}

header .search-container input {
  height: 100%;
  width: 100%;
  border-radius: 50px;
  outline: none;
  border: none;
  background-color: var(--kobi);
  padding: 1em;
}

header .profile-photo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  height: fit-content;
  align-self: center;
  margin-bottom: 1em;
}

header .profile-photo-container img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}

header .profile-photo-container div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

header .profile-photo-container div span {
  font-weight: 500;
}

header .profile-photo-container div p {
  font-size: 1.8em;
  font-weight: bold;
}

.github-logo-container svg {
  width: 1.4em;
}

/*----x----  Header  ----x----*/

/*---------  Main Section  ---------*/

main {
  background-color: rgb(232, 232, 232);
  grid-area: main;
  z-index: 0;
}

/*----x----  Main Section  ----x----*/
